


/*this this the left dark side*/
.leftie{
    background-color:#202020;
    color:white;
}
/*this tis the top part with the nav*/
.top{
    background-color: #333333;
    display: inline;
    padding-top: 50px;
    padding-bottom: 50px;
    float: right;

}
.top a {
color: white;

}
